<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationtest">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApplication">

        <activity android:name=".NovelActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity
            android:name="com.example.myapplicationtest.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>
